/*body {
text-align: center;
}*/
form {
  display: inline-block;
  font-family: "Newsreader";
  font-size: 1.3em;
  width: 30%;
  background-color: #CCCCCC;
  padding: 20px;
  margin: 8px 0;
  border-radius: 15px;
  border: 30px #009999 double;
}
input {
  display: block;
  width: 70%;
  padding: 10px 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 1rem
}
.submit-button {
  width: 30%;
  border-radius: 10px;
  background-color:#009999;;
  text-align: center;
}
